.main-container {    
    position: absolute;
    width: 90%;    
    height: 90%;
    top: 5%;
    left: 5%;    
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.15);
    
}

.block {
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50px;
    background-color: #a630b6;
    display: inline-block;
    text-align: center;
    line-height: 150px;
    color: white;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 40px;
}

.block:hover {
    background-color: #842691;
}

.marker {
    width: 10px;
    height: 10px;
    border: 1px solid rgb(100, 100, 100);
    position: absolute;
    margin-left: 110px;
    margin-top: 30px;
    border-radius: 20px;
}