<teacher-navbar-v></teacher-navbar-v>

<div *ngIf="task" style="display: flex;" cdkDropListGroup>

    <div class="left-container">
        <div *ngFor="let command of commands">

            <div class="check-block">
                <input type="checkbox" (change)="onChange(command)" [checked]="getPos(command) != -1" />
                <div class="command" [ngStyle]="{'background-color' : command.color }">
                    {{command.text}}

                    <ng-container *ngIf="command.type == 'composite'">

                        <span *ngIf="command.text == 'Повторить'">
                            <select [(ngModel)]="command.numberOfRepeats">
                                <option *ngFor="let option of forOptions" [value]="option">{{option}}</option>
                            </select>
                            Раз
                        </span>

                        <span *ngIf="command.text == 'Если'">
                            <select [(ngModel)]="command.condition">
                                <option *ngFor="let option of ifOptions" [value]="option">{{option}}</option>
                            </select>
                        </span>

                        

                        <ul class="program-ul"></ul>
                    </ng-container>

                    <ng-container *ngIf="command.type == 'double'">

                        <span *ngIf="command.text == 'Если'">
                            <select [(ngModel)]="command.condition">
                                <option *ngFor="let option of ifOptions" [value]="option">{{option}}</option>
                            </select>
                        </span>

                        <ul class="program-ul"></ul>
                        {{command.secondText}}
                        <ul class="program-ul"></ul>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="central-container">
        <div class="group-name-container">
            <p class="main">Название задания</p>
            <input type="text" placeholder="Название задания" [(ngModel)]=task.name>
            <p class="error">{{text_error}}</p>
        </div>

        <div class="params-container">

            <div style="display: flex;">
                <div style="width: 50%;">
                    <div class="number-block">
                        <label>n = </label> <input type="number" [(ngModel)]="task.n" (change)="NMChange()" min="4" max="18" />
                    </div>
                    <div class="number-block">
                        <label>m = </label> <input type="number" [(ngModel)]="task.m" (change)="NMChange()" min="4" max="18" />
                    </div>
                </div>
                <div class="rotate-block">
                    <p>Повернуть исполнителя</p>
                    <button (click) = "left()"><img src="assets/left.png" alt="Кнопка «button»"></button>
                    <button (click) = "right()"><img src="assets/right.png" alt="Кнопка «button»"></button>
                </div>
            </div>  
            <div class="buttons-block">
                <button (click)="save()" >Сохранить</button>
                <button (click)="drop()" >Создать новый</button>
            </div>            
        </div>

        <div class="help-container">
            В левой части можно выбрать команды доступные для использования в уровне, 
            в правой части поле уровня, его размеры можно установить меняя n и m, тип клеток поля меняется нажатием по ним, по кругу,
            Исполнитель перетаскивается по полю нажатием и поворачивается, нажатием на стрелки поворота в середине экрана.  
        </div>
    </div>

    <div class="right-container">
        <div class="grid-block">
            <div class="grid"               
            [ngStyle]="{
                'grid-template-columns': 'repeat(' + this.task.m + ','+ this.cellSize +'%)',
                'grid-auto-rows' : this.cellSize + '%',
                'width' : (this.cellSize*max) +'%',
                'height' : (this.cellSize*max) +'%'
            }">
                <div class="cell" *ngFor="let symbol of cells; index as i"   
                cdkDropList
                [cdkDropListData]="items[i]"  
                (cdkDropListDropped)="transfer($event)"               
                    [class.target]="symbol == '2'" [class.active]="symbol == '1'" [class.disable]="symbol == '0'"
                    (click)="onClickCell(i)">
                    <div *ngIf="items[i].length > 0" cdkDrag>
                        <img  src="assets/arrow.png" [ngStyle] = "{
                            'transform': 'rotate(' + task.angle+'deg)'
                        }"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>