.container {    
    width: calc(60% - 70px);   
    margin: 20px 20% 20px calc(20% + 70px);
    height: calc(100vh - 40px);
    border-radius: 10px;
    background-color: #fbf7ff;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}


.task-card {
    margin: 10px 20px;
    width: calc(100% - 40px);
    height: 70px;
    border-radius: 15px;
    background-color: #569ed7;
    display: flex;
    font-size: 20px;
    line-height: 50px;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.25);
}


.task-card .number{
    display: block;
    margin: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    line-height: 40px;
    background-color: #f0e6fe;
}

.legend .number{
    text-align: center;
    margin: 10px;
    width: 50px;
}

.task-name {
    text-align: center;
    width: calc(100% - 200px);
    margin: 10px;
}

.task-status {
    text-align: center;
    width: calc(30% - 20px);
    margin: 10px;
}

.task-mark {
    text-align: center;
    width: 90px;
    margin: 10px;
}

.help {
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px 20px;
    width: calc(100% - 40px);
    background-color: #12263a;   
    border-radius: 15px;
}

.status {
    display: flex;
    border-bottom: 1px solid #fbf7ff;
}

.f {
    width: 10%;
    margin: 0px 5%;
    height: 50px;
    line-height: 50px;
    color: #fbf7ff;
}

.status .block {
    width: 20%;
    height: 50px;
    line-height: 50px;
    display: flex;

}

.status p {
    color: #fbf7ff;
}

.status .block .square {
    margin: 10px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 10px;
    background-color: #f0e6fe;
    text-align: center;   

}


.legend {    
    height: 50px;  
    display: flex;    
    line-height: 30px
}

.legend .number,  .task-name,  .legend .task-status,  .task-mark {
    color: #fbf7ff;
}