<navbar-student></navbar-student>

<div class="container">
    <div class="legend">
        <p class="number">№</p>
        <p class="task-name">Название задания</p>
        <p class="task-status">Статус</p>
         <p class="task-mark">Оценка</p>
    </div>
    <div class="task-card" *ngFor="let card of cards; index as i"
    routerLink="/level/{{card.task.id}}">
        <p class="number"
        [ngStyle] = "{
            'border' : '5px solid' + card.color
        }">{{i+1}}</p>
        <p class="task-name">{{card.task.name}}</p>
        <p class="task-status">{{card.status}}</p>
        <p class="task-mark">{{card.mark}}</p>
    </div>
</div>