.legend-box {
    width: 30vw;
    display: flex;
    justify-content: center;
}

.legend {
    width: 250px;
    margin-top: 30px;
    padding: 10px;
    height: 100px;
    background-color: #fbf7ff;
    border-radius: 10px;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.main-container {
    margin: 30px 0% 30px 10%;
    width: 60vw;
    height: calc(100vh - 140px);    
    overflow-y: auto;
    background-color: #fbf7ff;
    border-radius: 10px;
    
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
}

.block {
    width: calc(12vw - 26px);
    height: calc(12vw - 26px);
    border-radius: 50px;
    margin: 10px;
    background-color: #569ed7;
    display: inline-block;
    text-align: center;
    line-height: calc(12vw - 26px);
    border: 3px solid;
    font-size: 40px;
    transition: 0.5s;
}

.block:hover {
    background-color: #338dd6;
    transition: 0.5s;
}

.marker {
    width: 20px;
    height: 20px;    
    position: sticky;
    border-radius: 20px;
    margin-top: calc(30px - 100%);
    margin-left: calc(100% - 50px);
}

.legend .box {
    margin: 10px;
    display: flex;
}

.legend p {
    line-height: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.marker-legend {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.completed {
    border: 3px solid #00FF3D;
}

.completed .marker {
    background-color: #00FF3D;
}

.new {
    border: 3px solid #FF8F00;
}

.new .marker {
    background-color: #FF8F00;
}


.in_process {
    border: 3px solid #F2EA00;
}

.in_process .marker {
    background-color: #F2EA00;
}