p {
    text-align: center;
    padding-top: 10%;
    font-size: 20px;
}


button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 25px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #569ed7;
    transition: 0.5s;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

button:hover {
    background-color: #338dd6;
    transition: 0.5s;
} 