<!-- <admin-navbar></admin-navbar>
<div class="container">
    <div class="group-card" *ngFor="let group of groups; index as i">
        <p class="number">{{i+1}}</p>
        <p class="text">{{group.name}}</p>    
        
        <div class="edit-box">
            <img src="assets/pen.png">
        </div>

        <div class="delete-box" (click) = "deleteGroup(group)">
            <img src="assets/box.png">
        </div>
    </div>
    <div class="add-card">
        <div class="register-block" *ngIf="isAdd" [@add] = "isAdd ? 'open' : 'closed'">
            <div style="display: flex;">
                <input class="input" type="text" placeholder="Имя группы" [(ngModel)] = "groupName">
            </div>   
            <p class="error">{{error}}</p>             
        </div>   
        <div class="button-block">
            <button (click) = "add()"> + </button>
            <button *ngIf= "isAdd" (click) = "hide()"> ^  </button>
        </div>         
    </div>
</div> -->

<admin-navbar></admin-navbar>
<div class="container">
    <div class="group-card" *ngFor="let group of groups; index as i" [ngClass] = "{delete:delete[i]}">
        <p class="number">{{i+1}}</p>
        <p class="text">{{group.name}}</p>    
        
        <div class="edit-box">
            <img src="assets/pen.png">
        </div>

        <div class="delete-box">
            <img src="assets/box.png" (click) = "deleteGroup(group, i)">
            <div class="sure-box" >
                <p>Вы уверены? в этой группе есть ученики</p>
                <button (click) = "sureDelete(group, i)">да</button>
                <button (click) = "closeDelete(i)">нет</button>

            </div>
        </div>
    </div> 
    <div class="add-card">
        <div class="register-block" *ngIf="isAdd" [@add] = "isAdd ? 'open' : 'closed'">
            <div style="display: flex;">
                <input class="input" type="text" placeholder="Имя группы" [(ngModel)] = "groupName">
            </div>   
            <p class="error">{{error}}</p>             
        </div>   
        <div class="button-block">
            <button (click) = "add()"> + </button>
            <button *ngIf= "isAdd" (click) = "hide()"> ^  </button>
        </div>         
    </div>  
</div>

