/* LEFT AND CENTRAL SIDE */
.program-li {
    list-style: none;
    padding: 5px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);    */
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 2.5vmin; 
}
.program-ul {    
    border-radius: 10px;
    background-color: white;
    min-height: 50px;
    min-width: calc(20vw - 31px);  
    margin-left: 25px;  
}
.simple-block {
    width: calc(20vw - 16px);
}
.composite-block { 
    display: inline-block;
}
.command-line {
    width: calc(20vw - 16px);   
    height: 25px;
    border-radius: 10px;
} 

/* LEFT SIDE */
.command-block {
    width: calc(25vw - 40px);
    height: calc(100vh - 120px);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); 
}
.command-block li {
    margin: 5px;
}

.command-block .command-line {
    margin: 10px;
}


/* CENTRAL SIDE */
.program-block {
    width: calc(35vw - 40px);
    height: calc(100vh - 120px);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);    
}

.program-block > ul {
    margin-left: 0px;
    height: calc(100% - 50px);
    overflow: auto;
}


/* RIGHT SIDE */
.grid-container {
    width: calc(40vw - 40px);
    height: calc(40vw - 40px);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); 
}

.grid-block {
    width: calc(40vw - 40px);
    height: calc(40vw - 40px);
}

.grid {
    display: grid;
}

.grid .cell  {
    border: 1px solid black;
} 

.movebox {
    position: fixed;
    border-radius: 10px;
}

.movebox img {
    margin: 10%;
    width: 80%;
    height: 80%;
}

.play-button {
    margin: 10px;
    padding: 10px;
    height: 40px;
    font-size: 2vmin;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 218, 0);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2); 
}


.play-button:hover {
    background-color: green;  
}

/* cells */
.target {
    background-color: yellow;
}

.active {
    background-color: green;
}

.disable {
    background-color: red;
}

.popup {
    position: absolute;
    background-color: white;
    width: 40%;
    height: 40%;
    left: 30%;
    top: 20%;
    border: 5px solid green;
    border-radius: 10px;
}

.exit-button {
    position: absolute;
    margin-left: calc(100% - 50px);
    margin-top: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.popup .main-message {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-size: 5vh;
    color: rgb(0, 60, 0);
}