.main-container {
    display: flex;
}

/* LEFT AND CENTRAL SIDE */
.program-li {
    list-style: none;
    padding: 5px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);    */
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 2.5vmin; 
}
.program-ul {    
    border-radius: 10px;
    background-color: white;
    min-height: 60px;
    min-width: calc(20vw - 31px);
    /* border: 1px solid rgba(0, 0, 0, 0.25); */
    margin-left: 25px;  
}
.simple-block {
    width: calc(20vw - 16px);
}
.composite-block { 
    display: inline-block;
}

.program-block {
    width: calc(35vw - 110px);
    height: calc(100vh - 40px);
    margin: 10px;
    margin-left: 80px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fbf7ff;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);    
}

.program-block > ul {
    margin-left: 0px;
    height: calc(100% - 50px);
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.play-button {
    margin: 10px;
    padding: 10px;
    height: 40px;
    font-size: 2vmin;
    color: #fbf7ff;
    border: none;
    border-radius: 10px;
    background-color: #569ed7;
    transition: 0.5s;
}

.play-button:hover {
    background-color: #338dd6;
    transition: 0.5s;
}

.grid-container {
    width: calc(40vw - 40px);
    height: calc(40vw - 40px);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fbf7ff;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2); 
}

.grid-block {
    width: calc(40vw - 40px);
    height: calc(40vw - 40px);
}

.grid {
    display: grid;
}

.grid .cell  {
    border: 1px solid rgba(0, 0, 0, 0.2);
} 

.movebox {
    position: fixed;
    border-radius: 10px;
}

.movebox img {
    margin: 10%;
    width: 80%;
    height: 80%;
}

.target {
    background-image: url('../../../../assets/cells/target-self.jpg');
    background-size: contain;
}

.active {
    background-image: url('../../../../assets/cells/grass-self.jpg');
    background-repeat: contain;
}

.disable {
    background-image: url('../../../../assets/cells/brick-self.jpg');
    background-size: contain;
}

.mark-block {
    width: calc(25vw - 40px);
    height: calc(100vh - 40px);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fbf7ff;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2); 
}


.mark-block .name {
    margin: 20px;
    display: block;
    width: calc(100% - 40px);
    font-size: 20px;
}

.mark-div {
    margin: 0px 20px;
    display: flex;
}

.mark-div select {
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 50px;
    border-radius: 10px;
    font-size: 16px;
}

.save-button {
    margin: 10px 10%;
    width: 80%;
    padding: 10px;
    height: 40px;
    font-size: 2vmin;
    color: #fbf7ff;
    border: none;
    border-radius: 10px;
    background-color: #569ed7;
    transition: 0.5s;
}

.save-button:hover {
    background-color: #338dd6;
    transition: 0.5s;
}
