<!-- <button (click) = "rotateLeft()">Налево</button>
<button (click) = "rotateRight()">Направо</button>
<button (click) = "stepForward()">Шаг вперед</button> -->



<div style="display:flex">
    <div class="command-block">
        <ul
            cdkDropList
            [cdkDropListData]="commands"
            [cdkDropListConnectedTo]="dls"
            cdkDropListSortingDisabled
            (cdkDropListDropped)="delete($event)"
            id = "from"
        >
            <li 
                *ngFor="let item of commands" 
                [class.simple-block]="item.type == 'simple'"
                [class.composite-block]="item.type == 'composite'"
                class="program-li"
                cdkDrag 
                [ngStyle]="{'background-color' : item.color }">
                <div class="command-line" *cdkDragPlaceholder style="background-color: blueviolet;"></div>                
                {{item.text}}
                <span *ngIf="item.text == 'Повторить'">
                    <select [(ngModel)] = "item.numberofRepeates">
                        <option *ngFor= "let option of forOptions" [value] = "option">{{option}}</option>
                    </select>
                    Раз
                </span>                
                <ul 
                    *ngIf="item.type == 'composite'"
                    class="program-ul">                    
                </ul>                

            </li>

        </ul>
    </div>




    <div class="program-block">
        <ul cdkDropList [cdkDropListData]="program" [cdkDropListConnectedTo]="dls" class="program-ul"
            (cdkDropListDropped)="drop($event)">
            <li *ngFor="let item of program" [class.simple-block]="item.type == 'simple'"
                [class.composite-block]="item.type == 'composite'" class="program-li" cdkDrag [ngStyle]="{
                'background-color' : item.color
            }">
                {{item.text}}
                <span *ngIf="item.text == 'Повторить'">
                    <select [(ngModel)] = "item.numberofRepeates">
                        <option *ngFor= "let option of forOptions" [value] = "option">{{option}}</option>
                    </select>
                    Раз
                </span>
                <div class="command-line" *cdkDragPlaceholder style="background-color: blueviolet;"></div>

                <ng-template #recusiveItem let-item="item">
                    <ul cdkDropList [cdkDropListData]="item.include" [cdkDropListConnectedTo]="dls" class="program-ul"
                        (cdkDropListDropped)="drop($event)">
                        <li *ngFor="let innerItem of item.include" [class.simple-block]="innerItem.type == 'simple'"
                            [class.composite-block]="innerItem.type == 'composite'" class="program-li" cdkDrag
                            [ngStyle]="{
                            'background-color' : innerItem.color
                        }">
                            <div class="command-line" *cdkDragPlaceholder style="background-color: blueviolet;"></div>
                            {{innerItem.text}}
                            <span *ngIf="innerItem.text == 'Повторить'">
                                <select [(ngModel)] = "innerItem.numberofRepeates">
                                    <option *ngFor= "let option of forOptions" [value] = "option">{{option}}</option>
                                </select>
                                Раз
                            </span>
                            <div *ngIf="innerItem.type == 'composite'">
                                <ng-container *ngTemplateOutlet="recusiveItem; context:{ item: innerItem}">
                                </ng-container>
                            </div>

                        </li>
                    </ul>
                </ng-template>

                <div *ngIf="item.type == 'composite'">
                    <ng-container *ngTemplateOutlet="recusiveItem; context:{ item: item}"></ng-container>
                </div>
            </li>
        </ul>
    </div>

    <div class="grid-container">
        <button (click) = "runProgram(program)" class="play-button">Запустить</button>
        <div class="grid-block" style="position: relative;">
            <div class="movebox"
            style="position: absolute;"
            [@move] = "{value: xy,params :{x: x*cellSize, y: y*cellSize}}" 
            [@rotate]= "{value: angle, params :{angle:angle}}"
            [@shake] = "shake" [ngStyle]= "{
                'width' : this.cellSize +'%',
                'height' : this.cellSize +'%'
            }"> <img src="assets/arrow.png"/></div>
        
            <div class="grid" [ngStyle] ="{
                'grid-template-columns': 'repeat(' + this.m + ','+ this.cellSize +'%)',
                'grid-auto-rows' : this.cellSize + '%',
                'width' : (this.cellSize*max) +'%',
                'height' : (this.cellSize*max) +'%'
            }">
                <div class="cell" *ngFor = "let symbol of cells" [ngStyle] = "{
                    'background-color': symbol == '0' ? 'red' : 'green'
                }">
                </div>
            </div>
        </div>
    </div>    
</div>