/* LEFT AND CENTRAL SIDE */
.program-li {
    list-style: none;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);   
    font-size: 2.5vmin; 
}
.program-ul {    
    border-radius: 10px;
    background-color: white;
    min-height: 50px;
    min-width: calc(20vw - 31px);  
    margin-left: 25px;  
}
.simple-block {
    width: calc(20vw - 16px);
}
.composite-block { 
    display: inline-block;
}
.command-line {
    width: calc(20vw - 16px);   
    height: 25px;
    border-radius: 10px;
} 

/* LEFT SIDE */
.command-block {
    width: 25vw;  
}
.command-block li {
    margin: 5px;
}

.command-block .command-line {
    margin: 10px;
}


/* CENTRAL SIDE */
.program-block {
    width: 35vw;
    height: 40vh;    
}

.program-block > ul {
    margin-left: 0px;
    margin-top: 5px;
}


/* RIGHT SIDE */
.grid-container {

}

.grid-block {
    margin: 10px;
    width: calc(40vw - 20px);
    height: calc(40vw - 20px);
}

.grid {
    display: grid;
}

.grid .cell  {
    border: 1px solid black;
} 

.movebox {
    position: fixed;
    border-radius: 10px;
}

.movebox img {
    margin: 10%;
    width: 80%;
    height: 80%;
}

.play-button {
    margin: 10px;
}