.main-container {
    display: flex;
    height: calc(100% - 80px);
}

.container {
    height: 100%;
}

.left {
    width: 40%;
}

.right {
    width: 60%;
}

.group-name-container {
    margin: 10px 10%;
    width: 80%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 0px 10px;
}

.group-name-container p{
    padding: 20px 0px 0px 30px;
    font-size: 16px;
    color: white;
}

.group-name-container input[type="text"]{
    margin: 10px;
    outline: none;
    border: none;
    padding: 10px;
    width: calc(100% - 40px);
    border-radius: 10px;
    font-size: 16px;
}


.students-container {
    margin: 20px 10%;
    width: 80%;
    height: calc(100% - 170px);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    overflow-y:auto;
}

.students-container > p {
    color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
}

.tasks-container {
    margin: 10px 10%;
    width: 80%;
    height: calc(100% - 100px); 
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    overflow-y:auto;
    overflow-x: none;
    display: flex;
}

.tasks-container > div {
    overflow-y: auto;
    overflow-x: hidden;
}

.tasks-container > div > p {
    display: block;
    white-space: nowrap;
    width: 0px;
    margin: 20px;
    color: white;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;

}

.card {
    display: flex;
    margin: 10px 50px;
    width: calc(100% - 100px);
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.tasks-container .card {
    margin: 10px 20px;
    width: calc(100% - 40px);
}

.card .number{
    margin: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 16px;  
}

.card .text {
    margin: 10px 0;
    width: 0px;

    line-height: 30px;
    color: white;
    font-size: 16px;
    white-space: nowrap;
}

.add {
    display: block;
    line-height: 50px;
    text-align: center;
    color:white;
    font-size: 25px;
}

.save-button {
    margin: 10px 30%;
    width: 40%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
}

.save-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}