<nav [class.open]= "isOpen">
    <ul>
        <li (click) = "isOpen = !isOpen" class = "open-button">
            <img src="../../../assets/navbar/menu.png">
        </li>
        <li routerLink="/groups">            
            <img src="../../../assets/navbar/group.png">
            <p *ngIf="isOpen">Группы</p>

        </li>
        <li routerLink="/tasks">
            <img src="../../../assets/navbar/level.png">
            <p *ngIf="isOpen">Уровни</p>
        </li>
        <li routerLink="/edit-level">
            <!-- <a>Создание задания</a> -->
            <img src="../../../assets/navbar/add.png">
            <p *ngIf="isOpen">Создание задания</p>
        </li> 
        <li style="margin-top: calc(100vh - 420px);" routerLink="/info">
            <img src="../../../assets/navbar/info.png">
            <p *ngIf="isOpen">Справка</p>
        </li>
        <li (click) = "onClick()">
            <img src="../../../assets/navbar/exit.png">
            <p *ngIf="isOpen">Выход</p>
        </li>     
    </ul>
</nav>