<admin-navbar-v></admin-navbar-v>
<div style="display: flex;">
    <div class="container" style="margin-left:110px;">
        <p class="title">Ученики</p>
        <div class="card" *ngFor="let student of students;index as i">
            <p class="number">{{i + 1}}</p>
            <p class="text">{{student.name}}</p>

            <div class="edit-box">
                <img src="assets/pen.png">
            </div>
    
            <div class="delete-box" (click) = "deleteStudent(student, i)">
                <img src="assets/box.png" >                
            </div>
        </div>

        <div class="add-card">
            <div class="register-block" *ngIf="add_user" [@add] = "add_user ? 'open' : 'closed'">
                <div style="display: flex;">
                    <input class="input" type="text" placeholder="Логин" [(ngModel)] = "user_login">
                    <input class="input" type="text" placeholder="Пароль" [(ngModel)] = "user_password">  
                </div>   
                <p class="error">{{error_user}}</p>             
            </div>            
            
            <div class="button-block">
                <button (click) = "addUser()"> + </button>
                <button *ngIf= "add_user"(click) = "hideUser()"> ^  </button>
            </div> 
        </div>
    </div>
    <div class="container">
        <p class="title">Учителя</p>
        <div class="card" *ngFor="let teacher of teachers;index as i">
            <p class="number">{{i + 1}}</p>
            <p class="text">{{teacher.name}}</p>

            <div class="edit-box">
                <img src="assets/pen.png">
            </div>
    
            <div class="delete-box" (click) = "deleteTeacher(teacher, i)">
                <img src="assets/box.png">                
            </div>
        </div>
        <div class="add-card">
            <div class="register-block" *ngIf="add_teacher" [@add] = "add_teacher ? 'open' : 'closed'">
                <div style="display: flex;">
                    <input class="input" type="text" placeholder="Логин" [(ngModel)] = "teacher_login">
                    <input class="input" type="text" placeholder="Пароль" [(ngModel)] = "teacher_password">  
                </div>   
                <p class="error">{{error_teacher}}</p>             
            </div>   
            <div class="button-block">
                <button (click) = "addTeacher()"> + </button>
                <button *ngIf= "add_teacher"(click) = "hideTeacher()"> ^  </button>
            </div> 
            
        </div>
    </div>
</div>

<div class="delete-popup" *ngIf="isTeacherDelete">
    <div class="content" *ngIf="deletedTeacher">        

        <p>
            <ng-container *ngIf = "canDeleteTeacher; else elseBlock">Вы уверены, что хотите удалить учителя {{deletedTeacher.name}}?</ng-container>
            <ng-template #elseBlock>Вы уверены, что хотите удалить учителя {{deletedTeacher.name}}, он прикреплен к группе и/или имеет созданные задания?</ng-template>

        </p>
        <div>
            <button (click) = "sureDeleteTeacher()">Удалить</button>
            <button (click) = "isTeacherDelete = false">Отмена</button>
        </div>
    </div>
</div>


<div class="delete-popup" *ngIf="isStudentDelete">
    <div class="content" *ngIf="deletedStudent">        

        <p>
            <ng-container *ngIf = "canDeleteStudent; else elseBlock">Вы уверены, что хотите удалить ученика {{deletedStudent.name}}?</ng-container>
            <ng-template #elseBlock>Вы уверены, что хотите удалить ученика {{deletedStudent.name}}, у него есть выполненные задания?</ng-template>

        </p>
        <div>
            <button (click) = "sureDeleteStudent()">Удалить</button>
            <button (click) = "isStudentDelete = false">Отмена</button>
        </div>
    </div>
</div>


