.container {    
    width: 60%;   
    margin: 20px 20%;
    height: calc(100vh - 120px);
    border-radius: 10px;
    background-color: #fbf7ff;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}


/* Before click delete */

.group-card {
    margin: 10px 20px;
    width: calc(100% - 40px);
    min-width: 450px;
    height: 100px;
    border-radius: 15px;
    background-color: #569ed7;
    display: flex;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
}

.group-card .number{
    display: block;
    margin: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    background-color:#f0e6fe;
    font-size: 20px;
    
}

.group-card .text {
    display: block;
    margin: 25px 0;
    line-height: 50px;
    height: 50px;
    width: calc(100% - 250px);
    color: #fbf7ff;
    overflow: hidden ;
    font-size: 20px;
    transition: 1s;
}

.delete .text {
    width: calc(100% - 450px);
    transition: 1s;
}

.group-card:hover  .text{
    color: #f0e6fe;
}

.add-card {
    margin: 10px 20px;
    width: calc(100% - 40px);
    display: inline-block;
    border-radius: 15px;
    background-color: #569ed7;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
}

.button-block {
    width: 100%;
    border-radius: 10px;
    background-color: #9692bf;    
    display: flex;
    align-items: center;
}

.button-block button {
    width: 50%;
    height: 100px;
    display: block;
    background-color: transparent;
    border:none;
    color: #fbf7ff;
    font-size: 20px;
}

.error {
    text-align: left;
    font-size: 12px;
    margin-left: 5%;
    line-height: 20px;
}

.register-block {
    width: calc(100% - 20px);
    margin: 0px 10px;
    height: 0px;
    overflow: hidden;
} 

.input {
    font-size: 20px;
    border:none; 
    outline: none;  
    width: 90%; 
    height: 80px;
    margin: 0px 5%;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    padding-left: 10px;
    transition: 0.3s;
}

.edit-box {
    position: sticky;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    left: calc(100% - 150px);
    border-radius: 10px;
    background-color: #9692bf;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: 1s;
}

.delete .edit-box {
    left: calc(100% - 350px);
    transition: 1s;
}

.delete-box {
    position: sticky;
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    left: calc(100% - 85px);
    border-radius: 10px;
    background-color: #9692bf;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: 1s;
}

.delete .delete-box {
    left: calc(100% - 285px);
    width: 250px;
    transition: 1s;
}

.delete-box img, .edit-box img {
    margin: 10px;
    width: 30px;
    height: 30px;
}

/* DELETE POPUP */
.delete-popup {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.5);    
    width: 100vw;
    height: 100vh;

}

.delete-popup .content {
    position: relative;
    border-radius: 10px;
    padding: 10px;
    background-color: #fbf7ff;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
    width: calc(40vw - 20px);
    height: calc(40vh - 20px);
    margin: 30vh 30vw;
}

.delete-popup .content p {
    display: flex;
    width: 100%;
    height: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 18px;
}

.delete-popup .content > div {
    display: flex;
    width: 100%;
    height: 20%;
}

.delete-popup .content > div button {
    border: none;
    width: 40%;
    margin: 0px 5%;
    background-color: #569ed7;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #fbf7ff;
}