<admin-navbar-v></admin-navbar-v>
<div style="display: flex;">
    <div class="container">
        <div class="group-card" *ngFor="let group of groups; index as i">
            <p class="number">{{i+1}}</p>
            <p class="text">{{group.name}}</p>    
            
            <div class="edit-box" routerLink="/edit-group/{{group.id}}">
                <img src="assets/pen.png">
            </div>
    
            <div class="delete-box" (click) = "deleteGroup(group, i)">
                <img src="assets/box.png" >
            </div>
        </div> 
        <div class="add-card">
            <div class="register-block" *ngIf="isAdd" [@add] = "isAdd ? 'open' : 'closed'">
                <div style="display: flex;">
                    <input class="input" type="text" placeholder="Имя группы" [(ngModel)] = "groupName">
                </div>   
                <p class="error">{{error}}</p>             
            </div>   
            <div class="button-block">
                <button (click) = "add()"> + </button>
                <button *ngIf= "isAdd" (click) = "hide()"> ^  </button>
            </div>         
        </div>  
    </div>
</div>



<!-- <div class="delete-popup" *ngIf="isDelete">
    <ng-container *ngIf= "deletedGroup">
        <div class="content">
            <p>
                <ng-container *ngIf = "canDeleteGroup; else elseBlock">Вы уверены, что хотите удалить группу {{deletedGroup.name}}?</ng-container>
                <ng-template #elseBlock>Вы уверены, что хотите удалить группу {{deletedGroup.name}}, она включает учеников и задания?</ng-template>

            </p>
            <div>
                <button (click) = "sureDeleteGroup()">Удалить</button>
                <button (click) = "isDelete = false">Отмена</button>
            </div>
        </div>
    </ng-container>    
</div>
 -->
