/* LEFT AND CENTRAL SIDE */
.program-li {
    list-style: none;
    padding: 5px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);    */
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 2.5vmin; 
}
.program-ul {    
    border-radius: 10px;
    background-color: white;
    min-height: 60px;
    min-width: calc(20vw - 31px);
    /* border: 1px solid rgba(0, 0, 0, 0.25); */
    margin-left: 25px;  
}
.simple-block {
    width: calc(20vw - 16px);
}
.composite-block { 
    display: inline-block;
}
.command-line {
    width: calc(20vw - 16px);   
    height: 40px;
    border-radius: 10px;
} 

/* LEFT SIDE */
.command-block {
    width: calc(25vw - 40px);
    height: calc(100vh - 120px);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fbf7ff;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2); 
}
.command-block li {
    margin: 5px;
}

.command-block .command-line {
    margin: 10px;
    
}


/* CENTRAL SIDE */
.program-block {
    width: calc(35vw - 40px);
    height: calc(100vh - 120px);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fbf7ff;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);    
}

.program-block > ul {
    margin-left: 0px;
    height: calc(100% - 50px);
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.25);
}


/* RIGHT SIDE */
.grid-container {
    width: calc(40vw - 40px);
    height: calc(40vw - 40px);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fbf7ff;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2); 
}

.grid-block {
    width: calc(40vw - 40px);
    height: calc(40vw - 40px);
}

.grid {
    display: grid;
}

.grid .cell  {
    border: 1px solid rgba(0, 0, 0, 0.2);
} 

.movebox {
    position: fixed;
    border-radius: 10px;
}

.movebox img {
    margin: 10%;
    width: 80%;
    height: 80%;
}

.play-button {
    margin: 10px;
    padding: 10px;
    height: 40px;
    font-size: 2vmin;
    color: #fbf7ff;
    border: none;
    border-radius: 10px;
    background-color: #569ed7;
}


.play-button:hover {
    background-color: #4B8ABD;  
}

/* cells */
.target {
    background-image: url('images/target-self.jpg');
    background-size: contain;
}

.active {
    background-image: url('images/grass-self.jpg');
    background-repeat: contain;
}

.disable {
    background-image: url('images/brick-self.jpg');
    background-size: contain;
}

.result-container {
    position: sticky;
    background-color: #569dd7dd;
    width: 100%;
    height: 100%;
    margin-top: -100%; 
}


.title {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-container p {
    display: block;
    font-size: 20px;
    
}


.result-container button {
    display: block;
    padding: 10px;
    border-radius: 10px;
    height: 40px;
    border: none;
    width: 80%;
    margin: 10px 10%;
    background-color: #9692BF;
    color:#fbf7ff;
    font-size: 20px;
}

