<navbar-student></navbar-student>

<div style="display: flex;" *ngIf= "userTask">
    <div class="command-block">
        <ul
            cdkDropList
            [cdkDropListData]="userTask.task.commands"
            [cdkDropListConnectedTo]="dls"
            cdkDropListSortingDisabled
            (cdkDropListDropped)="delete($event)"
            id = "from"
        >
            <li 
                *ngFor="let item of userTask.task.commands" 
                [class.simple-block]="item.type == 'simple'"
                [class.composite-block]="item.type == 'composite'"
                class="program-li"
                cdkDrag 
                [ngStyle]="{'background-color' : item.color }">
                <div class="command-line" *cdkDragPlaceholder style="background-color: blueviolet;"></div>                
                {{item.text}}
                <ng-container *ngIf="item.type == 'composite'">

                    <span *ngIf="item.text == 'Повторить'">
                        <select [(ngModel)]="item.numberOfRepeats">
                            <option *ngFor="let option of forOptions" [value]="option">{{option}}</option>
                        </select>
                        Раз
                    </span>

                    <span *ngIf="item.text == 'Если'">
                        <select [(ngModel)]="item.condition">
                            <option *ngFor="let option of ifOptions" [value]="option">{{option}}</option>
                        </select>
                    </span>

                    

                    <ul class="program-ul"></ul>
                </ng-container>

                <ng-container *ngIf="item.type == 'double'">

                    <span *ngIf="item.text == 'Если'">
                        <select [(ngModel)]="item.condition">
                            <option *ngFor="let option of ifOptions" [value]="option">{{option}}</option>
                        </select>
                    </span>

                    <ul class="program-ul"></ul>
                    {{item.secondText}}
                    <ul class="program-ul"></ul>
                </ng-container>

                <!-- <span *ngIf="item.text == 'Повторить'">
                    <select [(ngModel)] = "item.numberOfRepeats">
                        <option *ngFor= "let option of forOptions" [value] = "option">{{option}}</option>
                    </select>
                    Раз
                </span>                
                <ul 
                    *ngIf="item.type == 'composite'"
                    class="program-ul">                    
                </ul> -->
            </li>
        </ul>
    </div>

    <div class="program-block">
        <ul cdkDropList [cdkDropListData]="program" [cdkDropListConnectedTo]="dls" class="program-ul"
            (cdkDropListDropped)="drop($event)">
            <li *ngFor="let item of program" [class.simple-block]="item.type == 'simple'"
                [class.composite-block]="item.type == 'composite' || item.type == 'double'" class="program-li" cdkDrag [ngStyle]="{
                'background-color' : item.color
            }">
                {{item.text}}
                <ng-container *ngIf="item.type == 'composite'">
                    <span *ngIf="item.text == 'Повторить'">
                        <select [(ngModel)]="item.numberOfRepeats">
                            <option *ngFor="let option of forOptions" [value]="option">{{option}}</option>
                        </select>
                        Раз
                    </span>
                    <span *ngIf="item.text == 'Если'">
                        <select [(ngModel)]="item.condition">
                            <option *ngFor="let option of ifOptions" [value]="option">{{option}}</option>
                        </select>
                    </span> 
                </ng-container>

                <ng-container *ngIf="item.type == 'double'">
                    <span *ngIf="item.text == 'Если'">
                        <select [(ngModel)]="item.condition">
                            <option *ngFor="let option of ifOptions" [value]="option">{{option}}</option>
                        </select>
                    </span>
                </ng-container>

                <div class="command-line" *cdkDragPlaceholder style="background-color: blueviolet;"></div>

                <ng-template #recusiveItem let-item="item">
                    <ul cdkDropList [cdkDropListData]="item.include" [cdkDropListConnectedTo]="dls" class="program-ul"
                        (cdkDropListDropped)="drop($event)">
                        <li *ngFor="let innerItem of item.include" [class.simple-block]="innerItem.type == 'simple'"
                            [class.composite-block]="innerItem.type == 'composite' || innerItem.type == 'double'" class="program-li" cdkDrag
                            [ngStyle]="{
                            'background-color' : innerItem.color
                        }">
                            <div class="command-line" *cdkDragPlaceholder style="background-color: blueviolet;"></div>
                            {{innerItem.text}}
                            <ng-container *ngIf="innerItem.type == 'composite'">
                                <span *ngIf="innerItem.text == 'Повторить'">
                                    <select [(ngModel)]="innerItem.numberOfRepeats">
                                        <option *ngFor="let option of forOptions" [value]="option">{{option}}</option>
                                    </select>
                                    Раз
                                </span>
                                <span *ngIf="innerItem.text == 'Если'">
                                    <select [(ngModel)]="innerItem.condition">
                                        <option *ngFor="let option of ifOptions" [value]="option">{{option}}</option>
                                    </select>
                                </span> 
                            </ng-container>
            
                            <ng-container *ngIf="innerItem.type == 'double'">
                                <span *ngIf="innerItem.text == 'Если'">
                                    <select [(ngModel)]="innerItem.condition">
                                        <option *ngFor="let option of ifOptions" [value]="option">{{option}}</option>
                                    </select>
                                </span>
                            </ng-container>
                            <div *ngIf="innerItem.type == 'composite' || innerItem.type == 'double'">
                                <ng-container *ngTemplateOutlet="recusiveItem; context:{ item: innerItem}">
                                </ng-container>
                            </div>

                        </li>
                    </ul>
                    <ng-container *ngIf = "item.type == 'double'">
                        {{item.secondText}}
                        <ul cdkDropList [cdkDropListData]="item.secondInclude" [cdkDropListConnectedTo]="dls" class="program-ul"
                        (cdkDropListDropped)="drop($event)">
                        <li *ngFor="let innerItem of item.secondInclude" [class.simple-block]="innerItem.type == 'simple'"
                            [class.composite-block]="innerItem.type == 'composite' || innerItem.type == 'double'" class="program-li" cdkDrag
                            [ngStyle]="{
                            'background-color' : innerItem.color
                        }">
                            <div class="command-line" *cdkDragPlaceholder style="background-color: blueviolet;"></div>
                            {{innerItem.text}}
                            <ng-container *ngIf="innerItem.type == 'composite'">
                                <span *ngIf="innerItem.text == 'Повторить'">
                                    <select [(ngModel)]="innerItem.numberOfRepeats">
                                        <option *ngFor="let option of forOptions" [value]="option">{{option}}</option>
                                    </select>
                                    Раз
                                </span>
                                <span *ngIf="innerItem.text == 'Если'">
                                    <select [(ngModel)]="innerItem.condition">
                                        <option *ngFor="let option of ifOptions" [value]="option">{{option}}</option>
                                    </select>
                                </span> 
                            </ng-container>
            
                            <ng-container *ngIf="innerItem.type == 'double'">
                                <span *ngIf="innerItem.text == 'Если'">
                                    <select [(ngModel)]="innerItem.condition">
                                        <option *ngFor="let option of ifOptions" [value]="option">{{option}}</option>
                                    </select>
                                </span>
                            </ng-container>
                            <div *ngIf="innerItem.type == 'composite' || innerItem.type == 'double'">
                                <ng-container *ngTemplateOutlet="recusiveItem; context:{ item: innerItem}">
                                </ng-container>
                            </div>
                        </li>
                    </ul>
                    </ng-container>
                </ng-template>

                <div *ngIf="item.type == 'composite' || item.type == 'double'">
                    <ng-container *ngTemplateOutlet="recusiveItem; context:{ item: item}"></ng-container>
                </div>
            </li>
        </ul>
        <button (click) = "isInfoActive = true" class="play-button" style="width: 40px;"> i </button>
        <button (click) = "clickRun()" class="play-button" [disabled] = "!isButtonActive">Запустить</button>
        <button (click) = "save()" class="play-button">Сохранить и отправить</button>
    </div>

    <div class="grid-container">
        
        <div class="grid-block" style="position: relative;">
            <div class="movebox"
            style="position: absolute;"
            [@horizontal] = "{value: userTask.task.x, params :{x:userTask.task.x * cellSize, time : animationTime}}"
            [@vertical] = "{value: userTask.task.y, params :{y:userTask.task.y * cellSize, time : animationTime}}"
            [@rotate] = "{value: userTask.task.angle, params :{angle:userTask.task.angle, time : animationTime}}"
            [ngStyle]= "{
                'width' : this.cellSize +'%',
                'height' : this.cellSize +'%'
            }"> <img src="assets/arrow.png"/></div>
        
            <div class="grid" [ngStyle] ="{
                'grid-template-columns': 'repeat(' + this.userTask.task.m + ','+ this.cellSize +'%)',
                'grid-auto-rows' : this.cellSize + '%',
                'width' : (this.cellSize*max) +'%',
                'height' : (this.cellSize*max) +'%'
            }">
                <div class="cell" *ngFor = "let symbol of cells"
                [class.target]="symbol == '2'"
                [class.active]="symbol == '1'"
                [class.disable]="symbol == '0'"
                >
                </div>
            </div>
        </div>
        <div class="result-container" *ngIf="result">
            <div class="title">
                <p>{{resultText}}</p>                
            </div>    
            <button (click) = "clickOk()">ок</button>    
        </div>
    </div>    
</div>

<div class="info" *ngIf="isInfoActive">
    <div class="info-container">
        <div class="img-box">
            <img src="assets/help.gif">
            <div>
                <p>Необходимо дойти исполнителем до всех ключевых точек обозначенных желтым квадратом</p>
            </div>            
        </div>
        <button (click) = "isInfoActive = false">Хорошо</button>
    </div>
</div>